.product_page{
    .product_page_con{
        margin: 10px;

        
        .search{
            display: flex;
            align-items: center;
            border: 1px solid #6b6b6b;
            padding: 0 10px;
            border-radius: 8px;
            cursor: pointer;
            
            
            
            input{
                flex: 1;
                height: 60px;
                width: 100%;
                padding: 0 10px;
                font-size: 20px;
                outline: none;
                background-color: transparent;
                border: none;
                color: #fff;
            }
            button{
                background-color: #90CAF9;
                color: #000;
                border-radius: 8px;
                text-transform: uppercase;
                width: 130px;
                font-size: 15px;
                height: 50px;
                outline: none;
                transition: .1s linear;
                cursor: pointer;
                border: none;
                &:hover{
                    background-color: #42A5F5;
                }
            }
        }
        
        .product_items{
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;
        }
    }
}