.debt_info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &_con{
        width: fit-content;
        background-color: #1e1e1e;
        border-radius: 8px;
        cursor: pointer;
        padding: 30px;

        .content{
            
            h1, span{
                font-weight: 500;
                color: #fff;
                font-size: 20px;
            }
            span{
                font-weight: 300;
            }
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
            column-gap: 50px;
        }

        .buttons{
            margin-top: 25px;
        }
    }
}